@import url("std.css");

	/* Couleur d'une colonne projet lorsque hover du draggable */
	.project-border {background-color: #EEEEEE}
	
	/* Mise en page des colonnes de projet */
	td.project {width:23.25%;} 
	td.project_add {width:7%; vertical-align:middle; height:100%; background:#AAAAAA; 	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; opacity:0.2; color:#FFFFFF} 
	.add_project {
	padding:3px;
    text-align:center;
	height:100%;
	} 

	/* Mise en page général d'un projet */
	div.project_title {padding:10px; text-align:center;font-size:11px;}
	div.arrondi {	
		margin:4px;
		margin-bottom:5px;
		border-style:solid; 
		border-width:1px;
          -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        background:#FFFFFF;
        max-width:190px;

	}
	
	#personneencharge {
	font-size:smaller;
	height:18px;
	padding-top:3px;
	padding-left:5px;
	padding-right:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	}
	
	#personneencharge .ui-menu{
	background:#FFF;
	}
	
	.menuProjet .buttonProjet{
	height:14px;width:14px;
	}
	
	.draggable .project_title {cursor:move}
	.project_description {padding:5px;}
	
	/* Format des menus */
	 .ui-menu { position: absolute; width: 150px; }
	 .menuProjet {float:right;}
	 .buttonProjet {height:20px;}
	 .project_title_header {padding:10px;font-size:11px;text-align:center;}
	 
	 .typr_1 div.project_title_header {background:#ade131; border-top-left-radius:6px; 	border-top-right-radius:6px; opacity:0.5;}
	 .typr_2 div.project_title_header {background:#e85e48; border-top-left-radius:6px; 	border-top-right-radius:6px;opacity:0.5;}
	 .typr_4 div.project_title_header {background:#6fb6ed; border-top-left-radius:6px; 	border-top-right-radius:6px;opacity:0.5;}
	 .typr_8 div.project_title_header {background:#dedfdc; border-top-left-radius:6px; 	border-top-right-radius:6px;opacity:0.5;}
	 
	
	/* couleurs des différents status */
	.typr_1 div.arrondi {border-color:#ade131}
	.typr_1 #personneencharge {background:#ade131}
	.typr_1 .menuProjet .buttonProjet{background:#ade131;border:1px solid #666;}
	.typr_1 div.project_title {}
	.typr_2 div.arrondi {border-color:#F06D6D}
	.typr_2 .menuProjet .buttonProjet{background:#e85e48;border:1px solid #666;}
	.typr_2 div.project_title {}
	.typr_2 #personneencharge {background:#e85e48}
	.typr_4 div.arrondi {border-color:#A4C2F4}
	.typr_4 div.project_title {background:#e9f2f9; border-top-left-radius:6px; 	border-top-right-radius:6px;}	
	.typr_4 .menuProjet .buttonProjet{background:#6fb6ed;border:1px solid #333;}
	.typr_4 #personneencharge {background:#6fb6ed}
	.typr_8 div.arrondi {border-color:#CCCCCC; background:#EEEEEE; color:#999999}
	.typr_8 div.project_title {}
	.typr_8 .menuProjet .buttonProjet{background:#dedfdc;border:1px solid #666;}
	.typr_8 #personneencharge {background:#dedfdc}
	
	.content{width:230px; max-height:200px; padding:7px; padding-right:7px; overflow:auto; background:#F9FDE4; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
	ul {margin:0px; }
	#accordion h3 a {color:#576704;}
	
	/* Modifications de textes */
	del{color:#aaa; }ins{font-weight:bold; text-decoration:none}
	
	#tabs>ul>li>a, #tabs_gauche>ul>li>a {display:inline-block; min-height:18px}	
	
	ul.ui-tabs-nav li img {display:none}
	ul.ui-tabs-nav li.ui-tabs-active img {display:inherit}